<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ERA - Cabo San Lucas, BCS{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="container navbar-content">
            <div class="navbar-left">
                <div class="logo-container">
                    <a href="{% url 'home' %}" class="logo-box">
                        <img src="{% static 'images/Logo_ERA_transparente_G.png' %}" alt="ERA Logo" class="logo">
                    </a>
                </div>
            </div>

            <div class="navbar-right navbar-menu">
                <a href="{% url 'home' %}">Inicio</a>
                <a href="{% url 'cotizaciones_view' %}">Cotizaciones</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'pictures_site' %}">Registro Fotos</a>
                    <a href="{% url 'dashboard' %}">Reportes</a>
                    <a href="{% url 'logout' %}">Cerrar Sesión</a>
                {% else %}
                    <a href="{% url 'login_operadores' %}">Iniciar Sesión</a>
                {% endif %}
            </div>

            <div class="navbar-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>

    <div class="container" role="main">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="footer-content">
            © 2024 ERA. All rights reserved.
        </div>
    </footer>

  {% block extra_js %}{% endblock %}

  <script>
  document.addEventListener('DOMContentLoaded', function() {
      const navbarToggle = document.querySelector('.navbar-toggle');
      const navbarMenu = document.querySelector('.navbar-menu');
      const dropdownToggle = document.querySelector('.dropdown-toggle');
      const navbarDropdown = document.querySelector('.navbar-dropdown');

      navbarToggle.addEventListener('click', function() {
          navbarMenu.classList.toggle('active');
          navbarToggle.classList.toggle('active');
      });

      dropdownToggle.addEventListener('click', function(e) {
          e.preventDefault();
          navbarDropdown.classList.toggle('active');
      });
  });
  </script>
</body>
</html>
