{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create_operator.css' %}">
{% endblock %}

{% block content %}
<div class="create-operator">
    <h2>Crear Nuevo Operador</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <span class="error">{{ field.errors }}</span>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Crear Operador</button>
    </form>
</div>
{% endblock %}